#nav {
    list-style-type: none;
    margin-top: -10px;
    overflow: hidden;
    background-color: #333;
}

body {
    background-color: rgb(236, 205, 175);
}

li a {
    display: block;
    color: rgb(224, 194, 155);
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(206, 182, 137);
}

fieldset,
a {
    width: 400px;
    margin: auto;
    text-align: left;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

li {
    list-style-type: none;
}

img {
    display: center;
    max-width: 500px;
    max-height: 450px;
    text-align: center;
}