body,
button,
a {
    margin: 10px auto;
}

body {
    background-color: black;
    text-align: center;
}

table,
hr {}

input {
    width: 100%;
}

fieldset {
    border: 1px solid #336699;
}

label {
    font-family: 'Roboto', sans-serif;
}

label::after {
    content: ": ";
}

header,
nav,
main,
article,
section,
aside,
footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    text-align: center;
}

section {}

main {}

article {
    background: #F1F3F4;
    border-color: #336699;
}

aside {}

footer {}